<%- include("partials/header") %>
<!-- <link rel="stylesheet" media="screen and (max-width: 1170px)" href="css/phone.css"> -->

<h1 class="view-header">CUSTOMERS LIST</h1>

<div class="table">
  <table class="content-table">
    <thead>
      <tr>
        <th>Customer Name</th>
        <th>Email-id</th>
        <th>Balance</th>
        
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%usersList.forEach(users=>{%>
      <tr>
        <td><p> <%= users.name %></p></td>
        <td><p><%= users.email %></p></td>
        <td><p><%= users.credits %></p></td>
        <td><button class="select-btn"><a href="/view/<%= users._id %>">Select</a></button></td>
      </tr>
      <%})%>
    </tbody>
  </table>
</div>
<%- include("partials/footer") %>